
bower_components/
node_modules/
.pulp-cache/
output/
output-es/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago

package-lock.json
.parcel-cache
dist/
*.code-workspace
.stack-work/
dump.rdb
*.log
*~

lppaver2-frontend/.vite

.direnv/
